@model Models.AgendamedicamentoModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AgendamedicamentoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdAgendamento" class="control-label"></label>
                <input asp-for="IdAgendamento" class="form-control" />
                <span asp-validation-for="IdAgendamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequencia" class="control-label"></label>
                <input asp-for="Frequencia" class="form-control" />
                <span asp-validation-for="Frequencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataTermino" class="control-label"></label>
                <input asp-for="DataTermino" class="form-control" />
                <span asp-validation-for="DataTermino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intervalo" class="control-label"></label>
                <input asp-for="Intervalo" class="form-control" />
                <span asp-validation-for="Intervalo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPessoa" class="control-label"></label>
                <input asp-for="IdPessoa" class="form-control" />
                <span asp-validation-for="IdPessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAnimal" class="control-label"></label>
                <input asp-for="IdAnimal" class="form-control" />
                <span asp-validation-for="IdAnimal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMedicamento" class="control-label"></label>
                <input asp-for="IdMedicamento" class="form-control" />
                <span asp-validation-for="IdMedicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdConsulta" class="control-label"></label>
                <input asp-for="IdConsulta" class="form-control" />
                <span asp-validation-for="IdConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dosagem" class="control-label"></label>
                <input asp-for="Dosagem" class="form-control" />
                <span asp-validation-for="Dosagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
