@model Models.ExameModel

@{
    ViewData["Title"] = "Criar Novo";
}

<h1>Criar novo Exame</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdConsulta" class="control-label"></label>
                <select asp-for="IdConsulta" asp-items="ViewBag.IdConsulta" class="form-control"></select>
                <span asp-validation-for="IdConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAnimal" class="control-label"></label>
                <select asp-for="IdAnimal" asp-items="ViewBag.IdAnimal" class="form-control"></select>
                <span asp-validation-for="IdAnimal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoExame" class="control-label"></label>
                <select asp-for="IdTipoExame" asp-items="ViewBag.IdTipoExame" class="form-control"></select>
                <span asp-validation-for="IdTipoExame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
